
html {
  height: 100%;
  width: 100%;
}

/* College team colors */
.crimson {
  color: crimson;
}

.green {
  color: green;
}

.maize {
  color: #FFCB05;
}

.red {
  color: red;
}

.burnt-orange {
  color: #BF5700;
}

/* Button ID selectors */
#yes-button {
  color: green;
}

#no-button {
  color: red;
}
